
#loginForm{
width: 30%;
margin-left: 5%;

border-radius: 4%;
background-color: #6EACDA;
padding: 8px;

}
.navbar{
background-color:#6EACDA ;
height: 4%;
}
.nav-item{
    border: 2px solid #03346E);
    margin-right: 9px;   
}

.head{
    margin-left: 16%;
}